---
title: "Disability Rights"
layout: default
permalink: "/disability_rights.html"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Disability Rights</h1>
            
        <div class="page-content">
        <h4 class="font-weight-bold spanborder text-capitalize"><span>장애인식개선강사 소개</span></h4>
        <ul>
            <li>강사: Sky Kim</li>
            <li>소속: 성남시장애인권리증진센터</li>
            <li>대상: 관공서, 학교, 사업체</li>
            <li>내용: 직장 내 장애인식개선 교육, 장애인 인권 및 인식개선 교육</li>
            <li>문의: rego.research@gmail.com</li>
        </ul>
            <br><br>
            {% for category in site.categories %}
            {% if category[0] != "장애인식개선강의" %}
            {% continue %}
            {% endif %}
            <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
            
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
            {% if post.title != null %}
              {% if group == null or group == post.group %}
              {% endif %}
            {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}

            {% endfor %}

            </div>
        </div>            
    </div>
</div>
