---
title: "Disability Rights"
layout: default
permalink: "/disability_rights.html"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Disability Rights</h1>
            
        <div class="page-content">
        <p>장애인식개선강의 소개</p>

        <ul>
            <li>소속: 성남시 장애권리증진센터 장애인권 및 인식개선 강사</li>
            <li>대상: 관공서, 학교 (초등학교,중학교,고등학교)</li>
            <li>내용: 장애인식개선 및 장애인권에 대한 강의</li>
            <li>강의 문의 : rego.research@gmail.com</li>
        </ul>

        <p>강의이력</p>
    
            {% for category in site.categories %}
            {% if category[0] != "장애인식개선강의" %}
            {% continue %}
            {% endif %}
            <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
            
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
            {% if post.title != null %}
              {% if group == null or group == post.group %}
         
                {% include main-loop-card.html %}
              {% endif %}
            {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}

            {% endfor %}

            </div>
        </div>            
    </div>
</div>
