---
layout: default
---

<div class="container">
<!-- Kakao Adfit --!>
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-5bzAECugr7q9HPot" 
 data-ad-width   = "250" 
 data-ad-height  = "250"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  
<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
<div class="page-content">
{{ content }}
<!-- Comments -->
{% if page.comments == true %}
{% include comments.html %}
{% endif %}
</div>
</div>
